.git
.gitignore
.github
node_modules
.next
.next-build
dist
out
.env
.env.local
.env*.local
.vscode
.idea
*.log
README.md
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
playwright-report
test-results
docker-compose.yml
Dockerfile
.dockerignore
.DS_Store
coverage
